.api-error {
    color: red;
    text-align: center;
    padding: 10px;
}
.table-container {
    position: relative;
    text-align: center;
}
.game-table {
    background-color: green;
    border-radius: 10px;
    display: inline-block;
    margin: 50px auto 0;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 150px;
    padding: 40px;
    /*width: calc(100% * 2);  cards were way too far to the right */
    width: 100vw;
    max-width: 500px;
    height: auto;;
    transform: scale(1.5);
}
.waiting-text { /* White text under the API error message */
    color: white;
    text-align: center;
    margin-top: 10px;
}

.community-cards {
    display: flex;
    justify-content: center;
}

.card {
    width: 50px;
    height: 70px;
    margin: 0 5px;
    background-color: #333; /* A dark color for facedown card */
    border-radius: 5px;
}

.card.facedown:before {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
            45deg,
            #666,
            #666 10px,
            #777 10px,
            #777 20px
    );
}

.pot {
    background-color: #444;
    color: white;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

.players {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.player {
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 150px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: -100px; /* Adjust this value so it positions the player boxes below the table */
    left: 0;
    right: 0;
}
.player-container {
    display: flex;
    justify-content: center;
    gap: 10px; /* Adjust as needed for spacing */
    margin-top: 20px; /* Adjust as needed for gap between table and player boxes */
}

.player-box {
    background-color: #333; /* Your dark gray color */
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center; /* Aligns text in the center of the player box */
}

.chips {
    margin-top: 5px; /* Spacing between player name and chips */
}

.player-actions {
    display: flex;
    flex-direction: column; /* Stacks buttons on top of each other */
    gap: 5px; /* Spacing between buttons */
}

.button {
    background-color: #666; /* Button color */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}



.exit-button {
    background-color: #f00;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
}
